.home{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.6)),url('../../images//Image//Rectangle\ 1.png');
    background-size: cover;
    color: #efefef!important;
    background-attachment: fixed;
    padding-bottom: 70px; */
}